.hero {
  height: calc(100vh - 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.1)), url("output-onlinejpgtools.jpg");
  background-size: cover;
  background-position: center;
  .hero__description {
    position: absolute;
    z-index: 1;
    left: 12%;
    color: white;
    height: calc(100% - 80px);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 45px;
    h1 {
      z-index: 1;
      font-size: 48px;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 3px solid gold;
      font-family: 'Noto Sans KR', sans-serif;
      padding-bottom: 15px;
    }
    button {
      margin-top: 10px;
      padding: 15px 35px;
      font-size: 20px;
      font-weight: 700;
      color: white;
      background-color: red;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      &:hover {
        box-shadow: 1px 4px 23px 3px rgba(248, 13, 13, 0.7);
      }
    }
  }
}
@media (max-width: 800px) {
  .hero {
    .hero__description {
      left: 8%;
    }
  }
}
@media (max-width: 480px) {
  .hero {
    .hero__description {
      left: 5%;
    }
  }
}