.about-us__main {
  //height: calc(100vh - 80px);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #130F10;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.1)), url("pexels-ponyo-sakana-5088638.jpg");
  background-position: center;
  background-size: cover;
  .container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    .about-us__box {
      width: 70%;
      border-right: 5px solid #ffc143;
      border-bottom: 5px solid #ffc143;
      padding: 20px;
      h1 {
        text-transform: uppercase;
        color: white;
        font-size: 48px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 900;
      }
      p {
        color: white;
        text-align: center;
        line-height: 35px;
        font-size: 24px;
        font-family: 'Noto Sans KR', sans-serif;
      }
    }
  }
}