.modal__box {
  width: 800px;
  height: 700px;
  background-color: white;
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  transition: background-color 0.25s;
  box-shadow: 0 0 50px 20px #000000;

  .modal__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .close__modal {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 5px;
      margin-right: 10px;

      span {
        font-size: 25px;
      }

      &:hover {
        transition: 0.5s;
        font-weight: 800;
      }
    }
  }

  .modal__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;

    .content__title {
      font-size: 30px;
      font-family: 'Noto Sans KR', sans-serif;

    }

    .order__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      label {
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        input {
          margin-top: 10px;
          width: 400px;
          height: 40px;
          border-radius: 10px;
          border: 1px solid black;
          padding: 1px 10px;
        }
      }
      button {
        margin-top: 20px;
        width: 150px;
        padding: 15px 35px;
      }
    }
    .content__list {
      padding-top: 20px;
      width: 70%;
      height: 500px;
      margin: auto;
      overflow-y: scroll;
      .content__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 10px;
        h2 {
          width: 25%;
          overflow-wrap: break-word;
        }
        input {
          margin-left: 80px;
          border-radius: 25px;
          border: 1px solid black;
          text-align: center;
        }
        h3 {
          padding-left: 80px;
        }

        span {
          margin-left: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .content__total {
      padding: 15px;
    }

    .content__order-btn {
      padding: 15px 35px;
      font-size: 16px;
      font-weight: 700;
      color: white;
      background-color: red;
      border-radius: 30px;
      border: none;
      cursor: pointer;

      &:hover {
        transition: .2s ease-in-out;
        box-shadow: 1px 4px 23px 3px rgba(248, 13, 13, 0.7);
      }
    }
  }
}

.modal__box.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.0);
  transition: background-color 0.25s ease;
  z-index: 9999;
}

@media (max-width: 880px) {
  .modal__box {
    width: 600px;
    height: 600px;
    .modal__content {
      height: 500px;
      .order__form {
        label {
          input {
            margin-top: 5px;
            width: 300px;
            height: 30px;
          }
        }
        button {
          margin-top: 10px;
        }
      }
      .content__list {
        min-height: 200px;
        height: 300px;
        width: 90%;
        .content__list-item {
          h2 {
            text-align: center;
            font-size: 18px;
          }
          h3 {
            padding-left: 50px;
            font-size: 18px;
          }
          input {
            margin-left: 50px;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .modal__box {
    width: 350px;
    height: 600px;
    .modal__content {
      height: 420px;
      .order__form {
        label {
          font-size: 14px;
          input {
            margin-top: 5px;
            width: 200px;
            height: 30px;
          }
        }
        button {
          width: 100px;
          padding: 10px 25px;
        }
      }
      .content__title {
        font-size: 24px;
      }
      .content__list {
        min-height: 220px;
        height: 300px;
        width: 90%;
        .content__list-item {
          font-size: 16px;
          h2 {
            font-size: 14px;
          }
          h3 {
            padding-left: 20px;
            font-size: 14px;
          }
          input {
            padding: 1px 3px;
            margin-left: 20px;
          }
          span {
            margin-left: 15px;
           img {
             width: 20px;
             height: 20px;
           }
          }
        }
      }
    }
  }
}
